{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock css %}
    
{% block content %}
    

    

    <header>
        <h1>Контакты</h1>
    </header>
    <main>
        <section class="contact-info">
            <h2>Как с нами связаться:</h2>
            <p>email: maysal0702@gmail.com saidislam@gmail.com</p>
            <p>Телефон: 996700000000</p>
           
        </section>
    </main>
  
    {% endblock content %}