{% extends 'base.html' %}

{% block content %}
    
<body>
    <main class="faq-container">
        <h1>Часто задаваемые вопросы (FAQ)</h1>
        <section class="faq">
            <div class="question">
                <h2>Как играть в "Крестики-нолики"?</h2>
                <p>Для начала игры выберите режим: игра с другом или с компьютером. Играйте по очереди, ставя крестики и нолики на поле 3x3. Цель - первым составить линию из трех своих символов.</p>
            </div>
            <div class="question">
                <h2>Какой минимальный возраст для игры?</h2>
                <p>"Крестики-нолики" подходит для всех возрастов. Это простая и увлекательная игра, которая помогает развивать логическое мышление даже у самых маленьких.</p>
            </div>
            <div class="question">
                <h2>Можно ли играть на мобильных устройствах?</h2>
                <p>Да, наш сайт полностью адаптирован для мобильных устройств. Вы можете играть в "Крестики-нолики" на любом смартфоне или планшете.</p>
            </div>
            <div class="question">
                <h2>Как сохранять результаты игр?</h2>
                <p>Для сохранения результатов зарегистрируйтесь на нашем сайте. После этого вы сможете отслеживать свои достижения и статистику.</p>
            </div>
            <div class="question">
                <h2>Что делать, если у меня возникли проблемы с игрой?</h2>
                <p>Если вы столкнулись с проблемами, пожалуйста, свяжитесь с нами через форму обратной связи на странице "Контакты". Мы постараемся помочь вам в кратчайшие сроки.</p>
            </div>
        </section>
    </main>


    {% endblock content %}