.navbar {
    background-color: #343a40;
    
}

.navbar .nav-link, .navbar .navbar-brand {
    color: #ffffff !important;
}

.container {
    max-width: 960px;
}

.display-4 {
    color: #343a40;
}

.btn {
    font-size: 1.2rem;
    padding: 15px 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}

.list-group-item:nth-child(odd) {
    background-color: #f1f1f1;
}

.navbar-nav ml-auto {
    margin-left: 40%;
}