#game-board {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #343a40;
    font-size: 2rem;
    cursor: pointer;
}

.cell:hover {
    background-color: #f8f9fa;
}
