* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    background-color: #bbbbbb;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
    transition: sclae .2s ease;
}

a:hover {
    scale: .8rem;
}

a:hover {
    color: #e5e5e5;
}

/* HEADER */
header {
    background-color: rgba(22, 22, 22);
    position: relative;
    padding: 0 1rem;
    
    
}

.navbar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar .logo a {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 1.5rem;
}

.log-reg_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
}

.logReg_btn {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */

section#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3rem;
    color: #fff;
    height: 80vh;
}

.wrapper_title {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-left: 20px;
    justify-content: space-between;
}

.wrapper_picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_title .startGame_btn {
    background-color: #000;
    color: #fff;
    padding: 0.8rem 5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.startGame_btn:hover {
    scale: 1.05;
    color: #fff;
}

#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 3.7rem;
}

/* RESPONSIVE DESIGN */

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
